html,body,.container{
    height: 100%;
}
body {
    background: #eee;
    color: #D5D6E2;
    margin: 0px;
    font-weight: 500;
    font-size: 1.05em;
    font-family: "Microsoft YaHei","宋体","Segoe UI", "Lucida Grande", Helvetica, Arial,sans-serif, FreeSans, Arimo;
}
*{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
}
a{
    color: #fff;
    text-decoration: none;
}
a:hover,a:focus{
    text-decoration: none;
}
img{
    width: 100%;
    height: auto;
    display: block;
}
hr {
    display: block;
    width: 30rem;
    height: 1px;
    margin: 2.5rem 0;
    background-color: #eee;
    border: 0;
}


.header,.container,.footer {
    max-width: 32rem;
    margin-left: auto;
    margin-right: auto;
}

/* 头部标题 */
.header{
    width: 100%;    
    height: 3rem;
    z-index: 1000;
    color: #fff;
    position: fixed;
    text-align: center;
    margin-bottom: 1rem;
    background: #2697d5;
}
.header h2{    
    margin: 0;
    font-size: 1.4em;
    font-weight: 500;
    letter-spacing: 2px;
    padding: 0.4rem 0rem;
}
/* 内容区域 */
.container{
    padding-top: 3.5rem;
    position: relative;
}
.aplay{
    background: #4a4c5e;
}

.aplayer .aplayer-info .aplayer-music .aplayer-author{
    color: #fff;
}
.music-nav{
    overflow: hidden;
    padding: 0em 0.5em;
}
.music-nav span{
    float: left;
    color: #fff;
    display: block;
    margin: 0.3rem;
    padding: 0.3rem;
    cursor: pointer;
    font-size: 0.8em;
    text-align: center;
    border-radius: 2px;
    background: #f7abab;
    width: calc(25% - 0.6rem);
}


.music-list,.video-list{
    margin: 0;
    padding: 0.5rem;
    list-style: none;
    overflow: hidden;
    position: relative;
    margin-bottom: 2.5rem;
}
.music-list li{
    float: left;
    color: #666;
    padding: 0.2rem;
    margin-bottom: 1rem;
    margin-left: 1rem;
    width: calc(33% - 1rem);
}
.music-list li:nth-child(3n-2){
    margin-left: 0rem;
}
.music-list .music-listen{
    bottom: 0;
    width: 100%;
    color: #fff;
    padding: 0.1rem;
    position: absolute;
}
.music-list .music-listen .listen-item:last-child{
    float: right;
    width: 1.5rem;
}
.music-list .music-listen .listen-item:first-child{
    float: left;
    font-size: 0.5em;
    padding-top: 0.5rem;
}
.music-list .music-listen .listen-item:first-child img{
    width: 1rem;
    float: left;
    margin-left: 0.1rem;
}

.video-list li{
    width: calc(50% - 0.5rem);
    float: left;
    padding: 0.2rem;
    border-radius: 2px;
    background: #09253e;
    margin-bottom: 0.5rem;
    margin-left: 1rem;
}
.video-list li:nth-child(2n-1){
    margin-left: 0rem;
}
.music-list li .music-img,.video-list li .video-img{
    position: relative;
}
.video-list li .icon{
    position: absolute;
    width: 40%;
    margin: 1.5rem 30%;
}
.music-list li p,.video-list li p{
    /*text-align: center;*/
    margin: 0.3rem 0rem;
    font-size: 0.9em;
}
/* 尾部导航 */
.footer{
    position: fixed;
    width: 100%;
    bottom: 0;
    z-index: 1000;
}
.footer a:first-child .item{
    border-right: 1px solid #fff;
}
.footer .item{
    width: 50%;
    float: left;
    height: 2.5rem;
    font-weight: 600;
    text-align: center;
    letter-spacing: 2px;
    padding: 0.5rem 0rem;
    background: #2697d5;
}